################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Solid/v15
*.dll
/Solid.Foundation.DependencyInjection/bin/Debug
