################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Solid/v15
*.dll
/Solid.Foundation.DependencyInjection/bin/Debug
/Solid/bin/Debug
/Solid/obj/Debug
/Solid.Foundation.DependencyInjection/obj/Debug
/Solid.Foundation.Repository/obj/Debug
/Solid.Foundation.Repository/bin/Debug
